In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
import gmaps
gmaps.configure(api_key=g_key)

fig = gmaps.figure(map_type='SATELLITE')

# generate some (latitude, longitude) pairs
locations = [(51.5, 0.1), (51.7, 0.2), (51.4, -0.2), (51.49, 0.1)]

heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nuevitas,CU,2021-07-21 17:57:42,21.5453,-77.2644,90.30,58,6,10.29
1,1,Kapaa,US,2021-07-21 17:57:43,22.0752,-159.3190,78.78,83,89,4.00
2,2,Busselton,AU,2021-07-21 17:57:43,-33.6500,115.3333,52.05,82,85,7.65
3,3,Novokizhinginsk,RU,2021-07-21 17:57:43,51.6115,109.5917,57.56,99,100,2.73
4,4,Bay Roberts,CA,2021-07-21 17:56:44,47.5999,-53.2648,59.02,95,100,8.01

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Configure gmaps
gmaps.configure(api_key=g_key)
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2021-07-21 17:57:43,22.0752,-159.3190,78.78,83,89,4.00
5,5,Kahului,US,2021-07-21 17:54:20,20.8947,-156.4700,74.97,89,97,11.34
6,6,Hilo,US,2021-07-21 17:57:44,19.7297,-155.0900,80.28,94,90,8.05
8,8,Wajima,JP,2021-07-21 17:57:45,37.4000,136.9000,77.47,89,2,6.64
13,13,Dingle,PH,2021-07-21 17:57:46,10.9995,122.6711,78.57,79,99,11.77
14,14,Atuona,PF,2021-07-21 17:57:46,-9.8000,-139.0333,77.70,66,92,19.42
15,15,Vaini,TO,2021-07-21 17:56:43,-21.2000,-175.2000,73.56,88,20,6.91
17,17,Bardiyah,LY,2021-07-21 17:57:47,31.7561,25.0865,79.32,71,0,17.90
18,18,Georgetown,MY,2021-07-21 17:57:48,5.4112,100.3354,84.88,86,20,0.00
19,19,Albany,US,2021-07-21 17:54:57,42.6001,-73.9662,77.63,64,35,9.75

In [15]:
preferred_cities_df.count()

City_ID       300
City          300
Country       300
Date          300
Lat           300
Lng           300
Max Temp      300
Humidity      300
Cloudiness    300
Wind Speed    300
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1        Kapaa      US     78.78  22.0752 -159.3190
5      Kahului      US     74.97  20.8947 -156.4700
6         Hilo      US     80.28  19.7297 -155.0900
8       Wajima      JP     77.47  37.4000  136.9000
13      Dingle      PH     78.57  10.9995  122.6711
14      Atuona      PF     77.70  -9.8000 -139.0333
15       Vaini      TO     73.56 -21.2000 -175.2000
17    Bardiyah      LY     79.32  31.7561   25.0865
18  Georgetown      MY     84.88   5.4112  100.3354
19      Albany      US     77.63  42.6001  -73.9662

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Kahului,US,74.97,20.8947,-156.4700,Maui Seaside Hotel
6,Hilo,US,80.28,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Wajima,JP,77.47,37.4000,136.9000,Wajiima Onsen Yashio
13,Dingle,PH,78.57,10.9995,122.6711,SEGAYA PROPERTY
...,...,...,...,...,...,...
567,Sao Fidelis,BR,76.39,-21.6461,-41.7469,Hotel São José
568,Morrinhos,BR,85.46,-17.7311,-49.0994,Hotel Águia
571,Carballo,ES,77.58,43.2130,-8.6910,Pazo do Souto
572,Shediac,CA,71.10,46.2198,-64.5411,Auberge Gabrièle (Hôtel & Restaurant)
573,Timbiqui,CO,84.36,2.7717,-77.6654,hotel diana

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))